{% extends 'assets_base.html' %}

{% block content %}
<a class="btn btn-default btn-sm" href="/new_asset" role="button">Add new device</a>
<a class="btn btn-default btn-sm" href="/filter_asset" role="button">Filter</a>
        <br/>
        <br/>
        <!--<br/>-->
<div class=" foo panel-body table-index table-hover">

    <table style="font-size: 90%" class=" panel-body table table-hover datagrid table-striped table-bordered ">

        <tr>


            <th class=" control-box-header" />
            <th> Device name </th>
            <th> User </th>
            <th> Type of device </th>
            <th> Serial number </th>
            <th> Start date of warranty </th>
            <th> Finish date of warranty </th>
        </tr>
        {% for i in devices_all %}

        <tr class=" for_shown">

            <td  class=" for_hidden special-td table-control-box">
               <div style="width: 40px; display: table-cell;">
                   <form action="/edit_asset" method="GET" >
                   <input name="edit.ID" type="hidden" value="{{i.id}}" />
                       <div class="edit-box">
                           <button title="Edit" style="margin:3px;" class="btn btn-primary btn-sm" type="submit">
                                <span class=" glyphicon glyphicon-pencil"></span>
                           </button>
                       </div>
                   </form>
               </div>

               <div style="display: table-cell;">
                   <form action="/remove_asset" method="GET" >
                       <input name="remove.ID" type="hidden" value="{{i.id}}" />
                       <div>
                           <button title="Remove"  class="btn btn-primary btn-sm" type="submit">
                            <span class=" glyphicon glyphicon-remove"></span>
                       </button>

                        </div>
                   </form>
               </div>

            </td>
            <!--<td class = "table-control-box">-->
                <!--<div style="display: table-cell;">-->

               <!--<div style="width: 40px; display: table-cell;">-->
               <!--<form action="/edit_asset" method="GET" >-->
               <!--<input name="edit.ID" type="hidden" value="{{i.id}}" />-->
               <!--<div class="edit-box">-->
                   <!--<button title="Edit" class="btn btn-primary btn-sm" type="submit">-->
                        <!--<span class=" glyphicon glyphicon-pencil"></span>-->
                   <!--</button>-->
               <!--</div>-->
               <!--</form>-->
               <!--</div>-->

               <!--<div style="display: table-cell;">-->
               <!--<form action="/remove_asset" method="GET" >-->
                   <!--<input name="remove.ID" type="hidden" value="{{i.id}}" />-->
                   <!--<div>-->
                       <!--<button title="Remove" class="btn btn-primary btn-sm" type="submit">-->
                        <!--<span class=" glyphicon glyphicon-remove"></span>-->
                   <!--</button>-->

                   <!--</div>-->
               <!--</form>-->
               <!--</div>-->
               <!--</div>-->
                <!--<div style="display: table-cell;" class="panel-body table-control-box">-->

                <!--</div>-->

            <!--</td>-->


            <td class=" td-border foo container body-content">
                {{i.device_name}}
            </td>
            <td class="foo container body-content">
                {{i.User}}
            </td>
            <td class="foo container body-content">
                {{i.type}}
            </td>
            <td class="foo container body-content">
                {{i.serial_number}}
            </td>
            <td class="foo container body-content">
                {{i.date_start | date:"d M Y"}}
            </td>
             <td class="foo container body-content">
                {{i.date_finish | date:" d M Y"}}
            </td>

        </tr>
        {%endfor%}

    </table>

</div>

{% endblock %}


