{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">


    <title>IT inventory</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">
<style>

    .table-control-box{ margin-left: -120px; }

    .hidden {
        visibility: hidden;
        display: block !important;
        background-color: rgb(255,255,255) !important;
        border: none !important;
    }

    .visibl:hover + .hidden {
        visibility: visible !important;
    }
</style>



  </head>

  <body>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">IT Inventory</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="assets">Assets</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Dictionaries <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/dict_users">Users</a></li>
                    <li><a href="/dict_device_types">Device types</a></li>
                </ul>
            </li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



    <div class="container body-content">
        <div class="container">
         <br />
         <br />
         <br />
         <!--<div class="table-index table-control-box table-hover">-->
             <!--<table class="table datagrid table-bordered table-striped">-->
                 <!--<tr>-->
                     <!--<th class="control-box-header" />-->
                     <!--<th>id </th>-->
                     <!--<th>device name</th>-->
                     <!--<th>user</th>-->
                     <!--<th>type of device</th>-->
                     <!--<th>start date</th>-->
                     <!--<th>end date</th>-->
                 <!--</tr>-->
                 <!--<tr class="row-index">-->
                       <!--<td class="control-box">-->
                           <!--<input name="Collection[0].ID" type="hidden" value="" />-->
                           <!--<div class="edit-box">-->
                               <!--<a title="edit" href="/assets/edit" class="btn btn-primary btn-sm">-->
                                   <!--<span class="glyphicon glyphicon-pencil"></span>-->
                               <!--</a>-->
                               <!--<button title="remove" class="btn btn-primary btn-sm" type="button" onclick="removeItem('')">-->
                                    <!--<span class=" glyphicon glyphicon-remove"></span>-->
                               <!--</button>-->
                           <!--</div>-->
                       <!--</td>-->
                 <!--</tr>-->

             <!--</table>-->
             <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                       Assets
                    </h2>
                </div>


                <div class="panel-body">

                  <div class="row-fluid">

















<a class="btn btn-default btn-sm" href="/new_asset" role="button">Add new device</a>
        <br/>
        <br/>
        <!--<br/>-->
<div class="table-index table-control-box table-hover">


<div id="modal" class="modal hide">
	<div class="modal-header">
		<h2>Lorem Ipsum</h2>
	</div>
	<div class="modal-body">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Donec placerat sem ipsum, ut faucibus nulla. Nullam mattis volutpat
		dolor, eu porta magna facilisis ut. In ultricies, purus sed pellentesque
		mollis, nibh tortor semper elit, eget rutrum purus nulla id quam.</p>
	</div>
</div>

<a href="#modal" role="button" class="btn" data-toggle="modal">Click Me</a>


    <table class="table table-striped table table-bordered table-hover datagrid ">
        <tr>
            <th class="control-box-header" />
            <!--<th> id </th>-->
            <th> Device name </th>
            <th> User </th>
            <th> Type of device </th>
            <th> Serial number </th>
            <th> Start date of warranty </th>
            <th> Finish date of warranty </th>
        </tr>
        {% for i in devices_all %}

        <tr>
            <td class = "hoo">
               <div style="width: 100%; display: table;">
               <div style="display: table-row">
               <div style="width: 40px; display: table-cell;">
               <form action="/edit_asset" method="GET" >
               <input name="edit.ID" type="hidden" value="{{i.id}}" />
               <div class="edit-box">
                   <button title="Edit" class="btn btn-primary btn-sm" type="submit">
                        <span class=" glyphicon glyphicon-pencil"></span>
                   </button>
               </div>
               </form>
               </div>

               <div style="display: table-cell;">
               <form action="/remove_asset" method="GET" >
                   <input name="remove.ID" type="hidden" value="{{i.id}}" />
                   <div>
                       <button title="Remove" class="btn btn-primary btn-sm" type="submit">
                        <span class=" glyphicon glyphicon-remove"></span>
                   </button>

                   </div>
               </form>
               </div>
               </div>
               </div>

            </td>
            <!--<td>-->
                <!--{{i.id}}-->
            <!--</td>-->

            <td class="visibl">
                {{i.device_name}}
            </td>
            <td>
                {{i.User}}
            </td>
            <td>
                {{i.type}}
            </td>
            <td>
                {{i.serial_number}}
            </td>
            <td>
                {{i.date_start | date:"d M Y"}}
            </td>
             <td>
                {{i.date_finish | date:"d M Y"}}
            </td>

        </tr>
        {%endfor%}

    </table>

</div>


























                  </div>

                 </div><!-- /.container -->
             </div>
<!--</div>-->
</div>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

   <script>
        $('.dropdown-toggle').dropdown();
        $("#me").hover(function(){
            $("#else").show();
         },function(){
             $("#else").hide();
         });

         $('document').ready(function(){
            $('#modal').modal();
});
 </script>

  </body>


</html>